<html>
    <link rel="stylesheet" href="/static/style.css">
    <body>
        <h1>Login Page</h1>
        <form>
            <label>
                Username
            </label>
            <input>
        </form>
        <form>
            <label>
                Password
            </label>
            <input>
        </form>
        <a href="http://127.0.0.1:5000/#">
            <button>
            <label>Registration</label>
        </button>
        <a href="http://127.0.0.1:5000/registration">
            <button>
            <label>Registration</label>
        </button>
        </a>
        
    </body>
</html>