<html>
    <body>
        <h1>Registration Page</h1>
        <form>
            <label>
                First Name
            </label>
            <input>
        </form>
        <form>
            <label>
                Last Name
            </label>
            <input>
        </form>
        <form>
            <label>
                Username
            </label>
            <input>
        </form>
        <form>
            <label>
                Password
            </label>
            <input>
        </form>
    </body>
</html>