<html>
    <link rel="stylesheet" href="/static/style.css">
    <body>
        <h1>Registration Page</h1>
        <form>
            <label>
                First Name
            </label>
            <input>
        </form>
        <form>
            <label>
                Last Name
            </label>
            <input>
        </form>
        <form>
            <label>
                Username
            </label>
            <input>
        </form>
        <form>
            <label>
                Password
            </label>
            <input>
        </form>
    </button>
    <a href="http://127.0.0.1:5000/">
        <button>
        <label>Login</label>
    </button>
</button>
<a href="#">
    <button>
    <label>Register</label>
</button>
    </body>
</html>